# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Veritabanı ve Yerel Dosyalar
chroma_db/
*.pdf
data.txt

# Streamlit
.streamlit/

# Çevresel Değişkenler ve İşletim Sistemi
.env
.DS_Store
Thumbs.db